body {
    background-color: rgb(193, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    flex-direction: column;
}

.names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    padding-top: 100px;
}

.name_block {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mid {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    height: 150px;
}

.file_field {
    background-color: rgb(231, 218, 159);
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.languages {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 500px;
    padding-top: 20px;
    margin-bottom: 150px;
}

.lang_icons {
    border: 2px solid black;
    text-align: center;
    width: 50px;
    height: 30px;
}

