body {
    background-color: rgb(193, 238, 238);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    flex-direction: column;
}

h1 {
    font-size: 40px;
    margin-bottom: 5vh;
}

.text {
    text-align: center;
    font-family:Verdana, Tahoma, sans-serif;
    color: rgb(29, 44, 46);
}

.tick {
    height: 6vh;
    width: 3vh;
    border-top: 10px solid rgb(0, 255, 98);
    border-left: 10px solid rgb(0, 255, 98);
    transform: rotate(225deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.tick-hidden {
    opacity: 0;
    visibility: hidden;
} 

.loader {
    width: 8vh;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(193, 238, 238);
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 5vh;
    height: 5vh;
    border: 8px solid rgb(220, 243, 243);
    border-top-color: rgb(231, 218, 159);
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}

.names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40vw;
}

.name_block {
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

.mid {
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 40vw;
    height: 30vh;
}

.file_field {
    background-color: rgb(231, 218, 159);
    height: 30vh;
    width: 15vw;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    border: 5px double rgb(220, 243, 243);
}


.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(231, 218, 159);
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
}

.arrow div {
    position: absolute;
    height: 2.5vh;
    width: 2.5vh;
    border-top: 1.2vh solid rgb(220, 243, 243);
    border-left: 1.2vh solid rgb(220, 243, 243);
    transform: rotate(135deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.languages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding-top: 5vh;
    margin-bottom: 15vh;
    gap: 10px;
}

.languages div {
    width: 80px;
    text-align: center;
    text-wrap:wrap;
    font-size: large;
}

.lang_icons {
    border: 2px solid black;
    text-align: center;
    width: 50px;
    height: 30px;
}

option {
    font-size: large;
}

