body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    flex-direction: column;
}

.names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
}

.mid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
}

.languages {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 500px;
}

.lang_icons {
    border: 2px solid black;
    text-align: center;
    width: 30px;
    height: 30px;
}