<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Translator</title>
    <link rel="stylesheet" href="../static/style.css" />
</head>
<body>
    <h1>File Translator</h1>
    <div class="names">
        <div>Word file</div>
        <div>Text file</div>
    </div>
    <div class="mid">
        <div class="Upload"> Upload </div>
        <div> -> </div>
        <div class="Download"> Download </div>
    </div>
    <!-- make these into a select button -->
    <div class="languages"> 
        <div class="lang_icons"> ge </div>
        <div> to </div>
        <div class="lang_icons"> en </div>
    </div>
</body>
</html>