<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Translator</title>
</head>
<body>
    <h1>File Translator</h1>
    <div class="names">
        <div>Word file</div>
        <div>Text file</div>
    </div>
    <div class="">
        <div class="Upload"> Upload </div>
        <div> -> </div>
        <div class="Download"> Download </div>
    </div>
    <div class="languages">
        <div class="from"> ge </div>
        <div> to </div>
        <div class="to"> en </div>
    </div>
</body>
</html>